body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header,
.popular,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

.header h1 {
  font-family: 'Rufina', serif;
  text-align: center;
  font-size: 64px;
}

.header {
  font-family: 'Harmattan', serif;
  text-align: center;
  font-size: 24px;
}

.topnav {
  float: right;
  margin-right: 50px;
}

.footer {
  margin-top: 30px;
  padding-top: 19px;
  color: black;
  border-top: 1.5px solid #e5e5e5;
}

.recipes {
  text-align: center;
  border-style: solid;
  border-width: medium;
}

.new-post {
  margin: 40px 0;
}

.new-post p + h4 {
  margin-top: 28px;
}

#fava-salad,
#broccoli-soup {
  width: 440px;
  height: 360px;
}

#new1 h4,
#new2 h4 {
  margin-top: 100px;
  font-family: 'Diplomata SC', sans-serif;
}

#new1 h5,
#new2 h5 {
  font-family: 'Harmattan', sans-serif;
  font-size: 22px;
  font-style: italic;
  font-weight: bold;
}

#new1 p,
#new2 p {
  font-family: 'Harmattan', sans-serif;
  font-size: 18px;
}
